@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #34D399;
}

body {
    font-family: "Open Sans", "sans-serif";
    margin: 0rem;
}
#card {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 19%;
    border: 1.5px solid var(--primary-color);
    border-radius: 0.5rem 0.5rem;
    padding: 1rem 1rem 0rem 1rem;
}
button {
    padding: 0.35rem;
    border: 1px solid #059669;
    border-radius: 0.25rem 0.25rem;
    background-color: #6EE7B7;
}
#profile-picture {
    height: auto;
    width: 9%;
    vertical-align: middle;
    margin-right: 1rem;
    border: 1px solid #059669;
    border-radius: 5rem;
}
#name {
    margin-right: 1rem;
}
#card-content {
    margin-top: 1rem;
}
#heart-icon {
    height: auto;
    vertical-align: baseline;
    width: 3%;
}
#card-footer {
    margin-top: 0.5rem;
}
footer{
    text-align: center;
}